<div class="home">

    <section class="firstSection ">
        <div class="mainContent">
            <div class="secondHeader">
                <h1>We are</h1>
                <h2>LOW PRICE AUCTION</h2>
            </div>
            <app-auction-item [homeFlag]="true" [auction]="auction"></app-auction-item>
        </div>
    </section>
    <section #second class="fwh-slide fwh-slide section-how-its-work ">
        <div class="mainContent">
            <div class="how-its-work">
                <h1>How does it work?</h1>
                <div class="how-its-work-details">
                    <div class="col">
                        <aside class="circle"><span>1</span></aside>
                        <p>Register in a few quick steps, so you can bid</p>
                    </div>
                    <div class="arrow-long-right"></div>
                    <div class="col">
                        <aside class="circle"><span>2</span></aside>
                        <p>Choose auction and Place your bid. yes it’s that easy</p>
                    </div>
                    <div class="arrow-long-right"></div>
                    <div class="col">
                        <aside class="circle"><span>3</span></aside>
                        <p>If your bid is <u>unique</u> and the <u>lowest</u> of them all, <u>you win the auction!</u>
                        </p>
                    </div>

                </div>
                <div class="padding">
                    <button (click)="goToRules()"> Reversed Auctions Rules </button>
                </div>
                <div class="strip">
                </div>

            </div>
        </div>
    </section>

    <section #third class="fwh-slide section-about-new-auction ">
        <div class="mainContent">
            <h3>Get to know about a new auction opening</h3>
            <h2>Your Email here:
            </h2>
            <div class="wrap-email">
                <input type="email" name="email" required>
                <button (click)="sendEmail()"> Send </button>
            </div>
        </div>
    </section>

    <section #forth class="fwh-slide section-white ">
        <div class="mainContent center">
            <h3>Last Winner: the winner moment</h3>
            <div class="winnerVideo">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/66-lgGHa_DA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="line"></div>
            <h3>On site Auction</h3>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map> 
        </div>

    </section>

    <section #fifth class="fwh-slide section-place-my-bid ">
        <div class="mainContent center">
            <button *ngIf="!accountService.isLogin" (click)="login()"> i want to place a bid!</button>
            <button *ngIf="accountService.isLogin" (click)="router.navigateByUrl('/live')"> Bid on reversed auction</button>
        </div>
    </section>
</div>
<app-loader></app-loader>