.container {
  background-color: #808080;
  padding: 2% 0;
  max-height: 70vh;
  overflow-y: scroll;
}
.register {
  min-width: 230px;
  margin: 2% auto 2% auto;
}
.register h1,
.register h2 {
  display: block;
}
.register * {
  color: #000;
}
.register .error {
  color: #fff;
  top: -100%;
  width: auto;
}
.register .flex {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 89%;
}
.register .input-container {
  text-align: left;
}
.register .input-container label {
  display: block;
}
.register .step .first {
  height: 30vh;
}
.register .wrap-email {
  overflow: visible;
}


