div {
    margin-top: 50px;
    text-align: center;
}

h1{
    color: white;
    margin-top: 0;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 1px;
}

.videoPage {
    margin: 0;
    background: #0E1119;
    height: 95vh;
}

.footer {
    margin-top: 150px;
    text-align: center;
    color: white;
}