.user {
  width: 22px;
  height: 24px;
  border-radius: 50%;
  background-color: #0e1119;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user:after {
  content: "";
  border-radius: 50% 50% 0 0;
  background-color: aliceblue;
  height: 56%;
  width: 89%;
  position: absolute;
  bottom: -1px;
  left: 3px;
  cursor: pointer;
}
.user:before {
  content: "";
  background-color: aliceblue;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 1.5px;
  right: 18%;
  display: block;
  position: absolute;
  border: 3px solid #0e1119;
  z-index: 1;
}
.search {
  padding: 3px;
}
.search-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2.3px solid #fff;
  display: block;
  position: relative;
}
.search-icon:after {
  content: "";
  height: 7px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  transform: rotateZ(126deg);
  right: -5px;
  border-radius: 10%;
}
header > div.place-bid{margin-left: 1%;}
header {
  z-index:5 ;
  padding: 10px 5%;
  background: #0e1119;
  color: #fff;
}
header > div, header > a {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 2% 0 0px;
}
@media (min-device-width: 1024px) and (max-device-width: 1280px) {
}
