
/* desktop resolution */
.firstSection{
    animation: fadeIn 10s linear 1s 1;
}
@media screen and (min-width: 1281px) {
    .datesDiv{
        position: relative;
        color:rgba(0, 0, 0, 1) !important;
        width: 90%;
        top: 63%;
        left: 5%;
        font-weight: bold;
    }
    .datesDiv > p:nth-of-type(1) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: left;
    }
    .datesDiv > p:nth-of-type(2) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: right;
    }

    .home {
        width: 100%;
        height: 350vh;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 35% 15% 10% 35% 7%;
        grid-template-columns: repeat(12, 1fr);
    }
    section {
        width: 100%;
    }

    .firstSection {
        grid-column: span 12;
        background: #0E1119;
    }
    
    .firstSection {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .firstSection  > .secondHeader {
        position: relative;
        margin: auto;
        width: 800px;
        height: 150px;
        margin-bottom: 60px;
    }
    .firstSection  > .secondHeader > h2 {
        color: white;
        margin-top: 0;
        padding-top: 140px;
        padding-left: 100px;
        font-size: 60px;
        position: absolute;
        z-index:100;
        line-height: 56px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .firstSection > .secondHeader > h1 {
        color: rgba(255, 255, 255, 0.18);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 190px;
        margin-top: 0px;
        font-size: 150px;
        position: absolute;
    }
    div.lastAuction {
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 50px;
        margin: auto;
        width: 1000px;
        height: 600px;
    }
    
    .firstSection > .lastAuction > * {
        color: white;
        
    }
    .firstSection > .lastAuction > hr {
        width: 90%;
        height: 2px;
        background: white;
        
    }
    .firstSection > .lastAuction > h2 {
       padding-top: 15px;
       font-size: 50px;
       margin-bottom: 10px;
        
    }
    .firstSection  > .lastAuction > .auctionBtn {
        color: black;
        background: #D4F1F4;
        border-radius: 43px;
        right: 34%;
    }

    .fwh-slide.section-how-its-work {
        grid-column: span 12;
        position: relative;
        background: #2A2F33;
        color: white;
        height: 60vh;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .fwh-slide.section-how-its-work > .mainContent {
        margin: 0px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    .fwh-slide.section-how-its-work > .how-its-work {
        margin: 0px;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
        opacity: 0.18;
        margin: 0;
        font-size: 130px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .how-its-work-details  {
        text-align: center;
        position: relative;
        bottom: 50px;
        display: inline-flex;
        
    }

    .circle {
        width: 100px;
        height: 100px;
        background: #D4F1F4;
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
        display: inline;
  
    }

    .circle > span{
        position: relative;
        top: 10%;
        font-size: 70px;
        text-align: center;
        color: black;
    }
    
    
    .arrow {
        font-size: 100px;
        height: 50px;
        width: 300px;
        text-align: center;
        padding-bottom: 4%;
    }

    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(1) { 
        font-size: 45px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 250px;
        height: 185px;
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(2) { 
        font-size: 45px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 250px;
        height: 185px;
        position: relative;
        left: 120px;
        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(3) { 
        font-size: 45px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 250px;
        height: 185px;
        position: relative;
        left: 300px;
        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
        position: relative;
        text-align: center;
        display: inline-flex;
        bottom: 90px;
        margin-bottom: 10px;

    }
    
    .rulesBtn {
        background: #D4F1F4;
        width: 20%;
        border-radius: 70px;
        filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
        margin: 0px;
        position: relative;
        top: 120px;
        right: 380px;
    
    }
    
    
    
    .fwh-slide.section-about-new-auction {
        grid-column: span 12;
        background: #A4B5C5;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .fwh-slide.section-about-new-auction > .mainContent > h2 {
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        padding-top: 20px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > mat-form-field {
        margin-top: 10px;
        background: white;
        width: 661px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        border-radius: 50px;
    }
    
    .sendBtn {
        float: right;
        bottom: 30px;
        right: 15px;
        background: #D4F1F4;
        border-radius: 33px;
    }
    
    
    
    .fwh-slide.section-white {
        grid-column: span 12;
        padding-top: 40px;
        background: white;
        color: black;
        
    }
    .fwh-slide.section-white > h3 {
        text-align: center;
    }
    .fwh-slide.section-white > hr {
        width: 90%;
        height: 2px;
        background: black;
    }
    .fwh-slide.section-white > .winnerVideo {
        margin: auto;
        width: 70%;
        height: 40%;
        background: #C4C4C4 ;
    }


    
    agm-map {
        position: relative;
        width: 70%;
        height: 40%;
        left: 15%;
    }


    
    
    
    .fwh-slide.section-place-my-bid {
        grid-column: span 12;
        padding-top: 40px;  
        background: #0E1119;
        text-align: center;
        
    }
    .fwh-slide.section-place-my-bid > button {
       color: black;
       background: #D4F1F4;
       border-radius: 70px;
       width: 50%;
       height: 40%;
       font-size: 30px;
    }
    
    .fwh-slide.section-place-my-bid > p {
       color: white;
    } 



}

/* laptop resolution */
@media (min-device-width: 1024px) 
  and (max-device-width: 1280px) { 
    .datesDiv{
        position: relative;
        color:rgba(0, 0, 0, 1) !important;
        width: 90%;
        top: 51%;
        left: 5%;
        font-weight: bold;
    }
    .datesDiv > p:nth-of-type(1) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: left;
    }
    .datesDiv > p:nth-of-type(2) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: right;
    }

    .home {
        width: 100%;
        height: 350vh;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 35% 15% 10% 35% 7%;
        grid-template-columns: repeat(12, 1fr);
    }
    section {
        width: 100%;
    }

    .firstSection {
        grid-column: span 12;
        background: #0E1119;
    }
    
    .firstSection {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .firstSection  > .secondHeader {
        position: relative;
        margin: auto;
        width: 600px;
        height: 150px;
        margin-bottom: 25px;
    }
    .firstSection  > .secondHeader > h2 {
        color: white;
        margin-top: 0;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 48px;
        position: absolute;
        z-index:100;
        line-height: 56px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .firstSection > .secondHeader > h1 {
        color: rgba(255, 255, 255, 0.18);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 120px;
        margin-top: 0px;
        font-size: 113px;
        position: absolute;
    }
    div.lastAuction {
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        width: 800px;
        height: 600px;
    }
    
    .firstSection > .lastAuction > * {
        color: white;
        
    }
    .firstSection > .lastAuction > hr {
        width: 85%;
        height: 2px;
        background: white;
        
    }
    
    
    .firstSection  > .lastAuction > .auctionBtn {
        color: black;
        background: #D4F1F4;
        border-radius: 43px;
        right: 34%;
    }
    
    
    .fwh-slide.section-how-its-work {
        grid-column: span 12;
        position: relative;
        background: #2A2F33;
        color: white;
        height: 60vh;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .fwh-slide.section-how-its-work > .mainContent {
        margin: 0px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    .fwh-slide.section-how-its-work > .how-its-work {
        margin: 0px;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
        opacity: 0.18;
        margin: 0;
        font-size: 100px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .how-its-work-details  {
        text-align: center;
        position: relative;
        bottom: 40px;
        display: inline-flex;
    }

    .circle {
        width: 80px;
        height: 80px;
        background: #D4F1F4;
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
        display: inline;
    }

    .circle > span{
        position: relative;
        top: 15%;
        font-size: 50px;
        text-align: center;
        color: black;
    }
    
    
    .arrow {
        font-size: 80px;
        height: 50px;
        width: 210px;
        text-align: center;
        padding-bottom: 4%;
    }

    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(1) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(2) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;
        position: relative;
        left: 60px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(3) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;
        position: relative;
        left: 150px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
        position: relative;
        display: inline-flex;
        padding-left: 8%;
        margin-bottom: 0;
        bottom: 70px;

    }
    
    .rulesBtn {
        background: #D4F1F4;
        width: 20%;
        border-radius: 70px;
        filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
        margin: 0px;
        position: relative;
        top: 170px;
        right: 380px;
    
    }
    
    
    
    .fwh-slide.section-about-new-auction {
        grid-column: span 12;
        background: #A4B5C5;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .fwh-slide.section-about-new-auction > .mainContent > h2 {
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        padding-top: 20px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > mat-form-field {
        margin-top: 10px;
        background: white;
        width: 661px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        border-radius: 50px;
    }
    
    .sendBtn {
        float: right;
        bottom: 30px;
        right: 15px;
        background: #D4F1F4;
        border-radius: 33px;
    }
    
    
    
    .fwh-slide.section-white {
        grid-column: span 12;
        padding-top: 40px;
        background: white;
        color: black;
        
    }
    .fwh-slide.section-white > h3 {
        text-align: center;
    }
    .fwh-slide.section-white > hr {
        width: 90%;
        height: 2px;
        background: black;
    }
    .fwh-slide.section-white > .winnerVideo {
        margin: auto;
        width: 70%;
        height: 40%;
        background: #C4C4C4 ;
    }
    
    agm-map {
        position: relative;
        width: 70%;
        height: 40%;
        left: 15%;
    }


    
    
    
    .fwh-slide.section-place-my-bid {
        grid-column: span 12;
        padding-top: 40px;  
        background: #0E1119;
        text-align: center;
        
    }
    .fwh-slide.section-place-my-bid > button {
       color: black;
       background: #D4F1F4;
       border-radius: 70px;
       width: 50%;
       height: 40%;
       font-size: 30px;
    }
    
    .fwh-slide.section-place-my-bid > p {
       color: white;
    } 

}

/* Tablet resolution */
@media (min-width: 768px) 
and (max-width: 1023px){
    .datesDiv{
        position: relative;
        color:rgba(0, 0, 0, 1) !important;
        width: 90%;
        top: 40%;
        left: 5%;
        font-weight: bold;
    }
    .datesDiv > p:nth-of-type(1) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: left;
    }
    .datesDiv > p:nth-of-type(2) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: right;
    }

    .home {
        width: 100%;
        height: 280vh;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 35% 15% 10% 35% 7%;
        grid-template-columns: repeat(12, 1fr);
    }
    section {
        width: 100%;
    }

    .firstSection {
        grid-column: span 12;
        background: #0E1119;
    }
    
    .firstSection {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .firstSection  > .secondHeader {
        position: relative;
        margin: auto;
        width: 600px;
        height: 150px;
        margin-bottom: 25px;
    }
    .firstSection  > .secondHeader > h2 {
        color: white;
        margin-top: 0;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 48px;
        position: absolute;
        z-index:100;
        line-height: 56px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .firstSection > .secondHeader > h1 {
        color: rgba(255, 255, 255, 0.18);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 120px;
        margin-top: 0px;
        font-size: 113px;
        position: absolute;
    }
    div.lastAuction {
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        width: 700px;
        height: 600px;
    }
    
    .firstSection > .lastAuction > * {
        color: white;
        
    }
    .firstSection > .lastAuction > hr {
        width: 85%;
        height: 2px;
        background: white;
        
    }
    
    
    .firstSection  > .lastAuction > .auctionBtn {
        color: black;
        background: #D4F1F4;
        border-radius: 43px;
        right: 34%;
    }
    
    
    .fwh-slide.section-how-its-work {
        grid-column: span 12;
        position: relative;
        background: #2A2F33;
        color: white;
        height: 50vh;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .fwh-slide.section-how-its-work > .mainContent {
        margin: 0px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    .fwh-slide.section-how-its-work > .how-its-work {
        margin: 0px;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
        opacity: 0.18;
        margin: 0;
        font-size: 87px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .how-its-work-details  {
        text-align: center;
        position: relative;
        bottom: 35px;
        display: inline-flex;
    }

    .circle {
        width: 70px;
        height: 70px;
        background: #D4F1F4;
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
        display: inline;
    }

    .circle > span{
        position: relative;
        top: 10%;
        font-size: 50px;
        text-align: center;
        color: black;
    }
    
    
    .arrow {
        font-size: 80px;
        height: 50px;
        width: 180px;
        text-align: center;
        padding-bottom: 4%;
    }

    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(1) { 
        font-size: 26px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 150px;
        height: 185px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(2) { 
        font-size: 26px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 150px;
        height: 185px;
        position: relative;
        left: 80px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(3) { 
        font-size: 26px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 150px;
        height: 185px;
        position: relative;
        left: 200px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
        position: relative;
        display: inline-flex;
        /* padding-left: 7%; */
        margin-bottom: 0;
        bottom: 70px;

    }
    
    .rulesBtn {
        background: #D4F1F4;
        width: 20%;
        border-radius: 70px;
        filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
        margin: 0px;
        position: relative;
        top: 150px;
        right: 220px;
    
    }
    
    
    
    .fwh-slide.section-about-new-auction {
        grid-column: span 12;
        background: #A4B5C5;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .fwh-slide.section-about-new-auction > .mainContent > h2 {
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        padding-top: 20px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > h3 {
        margin: 0;
    }
    /* .fwh-slide.section-about-new-auction > .mainContent > h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        margin: 0;
    } */
    .fwh-slide.section-about-new-auction > .mainContent > mat-form-field {
        margin-top: 10px;
        background: white;
        width: 661px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        border-radius: 50px;
    }
    
    .sendBtn {
        float: right;
        bottom: 30px;
        right: 15px;
        background: #D4F1F4;
        border-radius: 33px;
    }
    
    
    
    .fwh-slide.section-white {
        grid-column: span 12;
        padding-top: 20px;
        background: white;
        color: black;
        
    }
    .fwh-slide.section-white > h3 {
        text-align: center;
    }
    .fwh-slide.section-white > hr {
        width: 90%;
        height: 2px;
        background: black;
    }
    .fwh-slide.section-white > .winnerVideo {
        margin: auto;
        width: 70%;
        height: 30%;
        background: #C4C4C4 ;
    }
    
    agm-map {
        position: relative;
        width: 70%;
        height: 30%;
        left: 15%;
    }


    
    
    
    .fwh-slide.section-place-my-bid {
        grid-column: span 12;
        padding-top: 40px;  
        background: #0E1119;
        text-align: center;
        
    }
    .fwh-slide.section-place-my-bid > button {
       color: black;
       background: #D4F1F4;
       border-radius: 70px;
       width: 50%;
       height: 40%;
       font-size: 30px;
    }
    
    .fwh-slide.section-place-my-bid > p {
       color: white;
    } 

}

/* 
low resolution tablets, mobiles */
@media (min-width: 481px) 
and (max-width: 767px) {
    .datesDiv{
        position: relative;
        color:rgba(0, 0, 0, 1) !important;
        width: 90%;
        top: 13%;
        left: 5%;
        font-weight: bold;
    }
    .datesDiv > p:nth-of-type(1) {
        font-size: 13px;
        background: rgba(255, 255, 255, 0.38);
        float: left;
    }
    .datesDiv > p:nth-of-type(2) {
        font-size: 13px;
        background: rgba(255, 255, 255, 0.38);
        float: right;
    }

    .home {
        width: 100%;
        height: 220vh;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 35% 15% 10% 35% 7%;
        grid-template-columns: repeat(12, 1fr);
    }
    section {
        width: 100%;
    }

    .firstSection {
        grid-column: span 12;
        background: #0E1119;
    }
    
    .firstSection {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .firstSection  > .secondHeader {
        position: relative;
        margin: auto;
        width: 400px;
        height: 150px;
        margin-bottom: 10px;
    }
    .firstSection  > .secondHeader > h2 {
        color: white;
        margin-top: 0;
        padding-top: 60px;
        padding-left: 50px;
        font-size: 34px;
        position: absolute;
        z-index:100;
        line-height: 56px;
        margin-bottom: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .firstSection > .secondHeader > h1 {
        color: rgba(255, 255, 255, 0.18);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 100px;
        margin-top: 0px;
        font-size: 80px;
        position: absolute;
    }
    div.lastAuction {
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        width: 400px;
        height: 600px;
    }
    
    .firstSection > .lastAuction > * {
        color: white;
        
    }
    .firstSection > .lastAuction > hr {
        width: 85%;
        height: 2px;
        background: white;
        
    }
    
    
    .firstSection  > .lastAuction > .auctionBtn {
        color: black;
        background: #D4F1F4;
        border-radius: 43px;
        right: 34%;
    }
    
    
    .fwh-slide.section-how-its-work {
        grid-column: span 12;
        position: relative;
        background: #2A2F33;
        color: white;
        height: 40vh;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .fwh-slide.section-how-its-work > .mainContent {
        margin: 0px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    .fwh-slide.section-how-its-work > .how-its-work {
        margin: 0px;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
        opacity: 0.18;
        margin: 0;
        font-size: 54px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .how-its-work-details  {
        text-align: center;
        position: relative;
        bottom: 20px;
        display: inline-flex;
    }

    .circle {
        width: 40px;
        height: 40px;
        background: #D4F1F4;
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
        display: inline;
    }

    .circle > span{
        position: relative;
        top: 10%;
        font-size: 30px;
        text-align: center;
        color: black;
    }
    
    
    .arrow {
        font-size: 40px;
        height: 50px;
        width: 120px;
        text-align: center;
        padding-bottom: 4%;
    }

    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(1) { 
        font-size: 20px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 120px;
        height: 185px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(2) { 
        font-size: 20px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 120px;
        height: 185px;
        position: relative;
        left: 40px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(3) { 
        font-size: 20px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 120px;
        height: 185px;
        position: relative;
        left: 100px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
        position: relative;
        display: inline-flex;
        /* padding-left: 7%; */
        margin-bottom: 0;
        bottom: 70px;
        right: 43px;

    }
    
    .rulesBtn {
        background: #D4F1F4;
        width: 30%;
        border-radius: 70px;
        filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
        margin: 0px;
        position: relative;
        /* top: 130px; */
        bottom: 70px;
        /* right: 220px; */
        font-size: 14px;
    
    }
    
    
    
    .fwh-slide.section-about-new-auction {
        grid-column: span 12;
        background: #A4B5C5;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .fwh-slide.section-about-new-auction > .mainContent > h2 {
        font-size: 14px;
        line-height: 42px;
        color: #000000;
        padding-top: 20px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > h3 {
        margin: 0;
        font-size: 12px;
    }
    /* .fwh-slide.section-about-new-auction > .mainContent > h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        margin: 0;
    } */
    .fwh-slide.section-about-new-auction > .mainContent > mat-form-field {
        margin-top: 10px;
        background: white;
        width: 300px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        border-radius: 50px;
        line-height: 20px !important;
    }
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
    ::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
    
    .sendBtn {
        width: 20px;
        height: 20px;
        float: right;
        bottom: 39px;
        right: 10px;
        background: #D4F1F4;
        border-radius: 33px;
        font-size: 16px;
        text-align: center;
        padding-bottom: 25px;
    }

    
    
    
    .fwh-slide.section-white {
        grid-column: span 12;
        padding-top: 20px;
        background: white;
        color: black;
        
    }
    .fwh-slide.section-white > h3 {
        text-align: center;
    }
    .fwh-slide.section-white > hr {
        width: 90%;
        height: 2px;
        background: black;
    }
    .fwh-slide.section-white > .winnerVideo {
        margin: auto;
        width: 70%;
        height: 30%;
        background: #C4C4C4 ;
    }
    
    agm-map {
        position: relative;
        width: 70%;
        height: 30%;
        left: 15%;
    }


    
    
    
    .fwh-slide.section-place-my-bid {
        grid-column: span 12;
        padding-top: 40px;  
        background: #0E1119;
        text-align: center;
        
    }
    .fwh-slide.section-place-my-bid > button {
       color: black;
       background: #D4F1F4;
       border-radius: 70px;
       width: 50%;
       height: 40%;
       font-size: 20px;
    }
    
    .fwh-slide.section-place-my-bid > p {
       color: white;
    } 

}

/* need fix resolution of mobile */
/* mobile resolutions */
@media (min-width: 320px) 
and (max-width: 480px) {
    .datesDiv{
        position: relative;
        color:rgba(0, 0, 0, 1) !important;
        width: 90%;
        top: 51%;
        left: 5%;
        font-weight: bold;
    }
    .datesDiv > p:nth-of-type(1) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: left;
    }
    .datesDiv > p:nth-of-type(2) {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.38);
        float: right;
    }

    .home {
        width: 100%;
        height: 350vh;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 35% 15% 10% 35% 7%;
        grid-template-columns: repeat(12, 1fr);
    }
    section {
        width: 100%;
    }

    .firstSection {
        grid-column: span 12;
        background: #0E1119;
    }
    
    .firstSection {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .firstSection  > .secondHeader {
        position: relative;
        margin: auto;
        width: 600px;
        height: 150px;
        margin-bottom: 25px;
    }
    .firstSection  > .secondHeader > h2 {
        color: white;
        margin-top: 0;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 48px;
        position: absolute;
        z-index:100;
        line-height: 56px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .firstSection > .secondHeader > h1 {
        color: rgba(255, 255, 255, 0.18);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 120px;
        margin-top: 0px;
        font-size: 113px;
        position: absolute;
    }
    div.lastAuction {
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        width: 800px;
        height: 600px;
    }
    
    .firstSection > .lastAuction > * {
        color: white;
        
    }
    .firstSection > .lastAuction > hr {
        width: 85%;
        height: 2px;
        background: white;
        
    }
    
    
    .firstSection  > .lastAuction > .auctionBtn {
        color: black;
        background: #D4F1F4;
        border-radius: 43px;
        right: 34%;
    }
    
    
    .fwh-slide.section-how-its-work {
        grid-column: span 12;
        position: relative;
        background: #2A2F33;
        color: white;
        height: 60vh;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .fwh-slide.section-how-its-work > .mainContent {
        margin: 0px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    .fwh-slide.section-how-its-work > .how-its-work {
        margin: 0px;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
        opacity: 0.18;
        margin: 0;
        font-size: 100px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .how-its-work-details  {
        text-align: center;
        position: relative;
        bottom: 40px;
        display: inline-flex;
    }

    .circle {
        width: 80px;
        height: 80px;
        background: #D4F1F4;
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
        display: inline;
    }

    .circle > span{
        position: relative;
        top: 15%;
        font-size: 50px;
        text-align: center;
        color: black;
    }
    
    
    .arrow {
        font-size: 80px;
        height: 50px;
        width: 210px;
        text-align: center;
        padding-bottom: 4%;
    }

    
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(1) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(2) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;
        position: relative;
        left: 60px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph > p:nth-of-type(3) { 
        font-size: 35px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        font-style: normal;
        width: 221px;
        height: 185px;
        position: relative;
        left: 150px;

        
    }
    .fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
        position: relative;
        display: inline-flex;
        padding-left: 8%;
        margin-bottom: 0;
        bottom: 70px;

    }
    
    .rulesBtn {
        background: #D4F1F4;
        width: 20%;
        border-radius: 70px;
        filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
        margin: 0px;
        position: relative;
        top: 170px;
        right: 380px;
    
    }
    
    
    
    .fwh-slide.section-about-new-auction {
        grid-column: span 12;
        background: #A4B5C5;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .fwh-slide.section-about-new-auction > .mainContent > h2 {
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        padding-top: 20px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
    }
    .fwh-slide.section-about-new-auction > .mainContent > mat-form-field {
        margin-top: 10px;
        background: white;
        width: 661px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        border-radius: 50px;
    }
    
    .sendBtn {
        float: right;
        bottom: 30px;
        right: 15px;
        background: #D4F1F4;
        border-radius: 33px;
    }
    
    
    
    .fwh-slide.section-white {
        grid-column: span 12;
        padding-top: 40px;
        background: white;
        color: black;
        
    }
    .fwh-slide.section-white > h3 {
        text-align: center;
    }
    .fwh-slide.section-white > hr {
        width: 90%;
        height: 2px;
        background: black;
    }
    .fwh-slide.section-white > .winnerVideo {
        margin: auto;
        width: 80%;
        height: 400px;
        background: #C4C4C4 ;
    }
    
    agm-map {
        position: relative;
        width: 70%;
        height: 40%;
        left: 15%;
    }


    
    
    
    .fwh-slide.section-place-my-bid {
        grid-column: span 12;
        padding-top: 40px;  
        background: #0E1119;
        text-align: center;
        
    }
    .fwh-slide.section-place-my-bid > button {
       color: black;
       background: #D4F1F4;
       border-radius: 70px;
       width: 50%;
       height: 40%;
       font-size: 30px;
    }
    
    .fwh-slide.section-place-my-bid > p {
       color: white;
    } 


}
 
