.fadein {
  animation: fadeIn 3s cubic-bezier(0.38, 0.38, 1, 1);
}
/* desktop resolution */

h2,
h4 {
  padding: 0;
  margin: 0px;
}
.top {
  z-index: 2;
}
.top h4 {
  margin-top: 0.7%;
}
.lastAuction img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.my-bid {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0 auto 0 0;
  z-index: 2;
}
.my-bid h4 span {
  font-size: 1.6rem;
}
.my-bid h4 i{color:green;font-size: 1.4rem;}
.my-bid h4 small{font-size: 1.4rem;}
.my-bid h4 {
  margin: 1% 0;
  z-index: 2;
}
.my-bid h4 b {
  color: #000;
  font-size: 2rem;
  direction: rtl;
  background-color: rgba(256, 255, 255, 1);
}
.datesDiv {
  position: absolute;
  width: 90%;
  bottom: 4%;
  left: 5%;
  font-weight: bold;
}
.datesDiv > p {
  width: 40%;
}
.datesDiv > p b {
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.38);
  margin-left: 2%;
  color: #000;
  padding: 1% 2%;
}

.home {
  width: 100%;
}
section {
  width: 100%;
}

.firstSection {
  background: #0e1119;
}

.firstSection {
  font-style: normal;
  text-align: center;
}

.firstSection .secondHeader {
  position: relative;
  margin: auto;
  height: 164px;
  margin-bottom: 2rem;
  text-align: center;
}
.firstSection .secondHeader h2 {
  color: white;
  margin-top: 0;
  font-size: 4rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  top: 8rem;
  position: absolute;
    left: 0;
    right: 0;
  animation: fadeIn 10s linear;
}
.firstSection .secondHeader h1 {
  color: rgba(255, 255, 255, 0.18);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0px;
  font-size: 1000%;
  animation: fadeIn 6s linear;
  position: relative;
}
.lastAuction {
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin: 5% auto;
  width: 1000px;
  height: 600px;
  animation: fadeIn 6s linear ;
}



.firstSection > .lastAuction > h2 {
  padding-top: 15px;
  font-size: 50px;
  margin-bottom: 10px;
}
.firstSection > .lastAuction > .auctionBtn {
  color: black;
  background: #d4f1f4;
  border-radius: 43px;
  right: 34%;
}

.section-how-its-work {
  grid-column: span 12;
  position: relative;
  background-color: #2a2f33;
  color: white;
  height: auto;
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: 0;
  padding-bottom: 3%;
}

.mainContent h3 {
  font-size: 2rem;
  margin: 0 0 1% 0;
  color: #000;
}
.fwh-slide.section-how-its-work > .mainContent {
  text-align: center;
}
.fwh-slide.section-how-its-work > .how-its-work {
  margin: 0px;
}

.fwh-slide.section-how-its-work > .mainContent > .how-its-work > h1 {
  opacity: 0.18;
  margin: 0;
  font-size: 1000%;
}

.fwh-slide.section-how-its-work
  > .mainContent
  > .how-its-work
  > .how-its-work-details {
  text-align: center;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.how-its-work-details > .col {
  text-align: center;
}
.how-its-work-details > .col > p {
  font-size: 2rem;
  font-weight: 100;
}
.circle {
  background: #d4f1f4;
  border-radius: 50%;
  display: inline-block;
  width: 102px;
  height: 102px;
  box-sizing: border-box;
  position: relative;
}

.circle > span {
  font-size: 2rem;
  text-align: center;
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 32%;
}

.arrow {
  font-size: 100px;
  line-height: 88%;
}

.fwh-slide.section-how-its-work
  > .mainContent
  > .how-its-work
  > .paragraph
  > p:nth-of-type(1) {
  font-size: 45px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  font-style: normal;
  width: 250px;
  height: 185px;
}
.fwh-slide.section-how-its-work
  > .mainContent
  > .how-its-work
  > .paragraph
  > p:nth-of-type(2) {
  font-size: 45px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  font-style: normal;
  width: 250px;
  height: 185px;
  position: relative;
  left: 120px;
}
.fwh-slide.section-how-its-work
  > .mainContent
  > .how-its-work
  > .paragraph
  > p:nth-of-type(3) {
  font-size: 45px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  font-style: normal;
  width: 250px;
  height: 185px;
  position: relative;
  left: 300px;
}
.fwh-slide.section-how-its-work > .mainContent > .how-its-work > .paragraph {
  position: relative;
  text-align: center;
  display: inline-flex;
  bottom: 90px;
  margin-bottom: 10px;
}

.rulesBtn {
  background: #d4f1f4;
  width: 20%;
  border-radius: 70px;
  filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
  margin: 0px;
  position: relative;
  top: 120px;
  right: 380px;
}

.fwh-slide.section-about-new-auction {
  background: #a4b5c5;
  text-align: center;
  margin: 0;
  padding: 3% 0px;
}

.fwh-slide.section-about-new-auction > .mainContent > * {
  color: #000000;
}
.fwh-slide.section-about-new-auction > .mainContent > h4 {
  font-weight: 100;
}

.fwh-slide.section-white {
  padding: 0;
  background: white;
  color: black;
}
.fwh-slide.section-white > h3 {
  text-align: center;
}
.winnerVideo {
  margin: 2% auto;
  width: 80%;
  height: 40%;
  background: #c4c4c4;
}

agm-map {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.fwh-slide.section-place-my-bid {
  grid-column: span 12;
  padding-top: 40px;
  background: #0e1119;
  text-align: center;
}

.fwh-slide.section-place-my-bid > p {
  color: white;
}
@media only screen and (max-width: 1245px) {
  .lastAuction {
    width: 100%;
    padding: 0px;
  }
}
@media only screen and (max-width: 880px) {
  .lastAuction {
    height: auto;
  }
  .lastAuction img {
    height: auto;
    position: static;
  }
  .firstSection .secondHeader {
    height: auto;
  }
  .firstSection .secondHeader h1 {
    font-size: 6rem;
    position: static;
  }
  .my-bid {
    display: block;
    text-align: center;
    padding: 2% 0px;
  }
  .my-bid h4 {
    margin-bottom: 5%;
  }
  .datesDiv {
    display: flex;
    bottom: 37%;
    left: 5%;
    justify-content: space-between;
  }
  .datesDiv p,
  .datesDiv p b {
    font-size: 1rem;
  }
  .firstSection .secondHeader h2 {
    font-size: 4rem;
    position: static;
  }
  .fwh-slide.section-how-its-work
    > .mainContent
    > .how-its-work
    > .how-its-work-details {
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .how-its-work-details {
    perspective: 200vh;
  }

  .how-its-work-details > .col > p {
    width: 80%;
    margin: 0 auto;
  }
  .arrow-long-right {
    top: 0;
    width: 2px;
    height: 48px;
    margin: 6% auto;
  }
  .arrow-long-right::after {
    transform: rotate(135deg);
    right: -5px;
    bottom: 1px;
  }
}
@media only screen and (max-width: 580px) {
}
