<!-- <div class="dashboard" *ngIf="accountService.isUserLoggedIn()">
    <button>Settings</button>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>My offer</mat-label>
        <mat-select disableOptionCentering >
          <mat-option>Awarded offers</mat-option>
          <mat-option>Placed offers</mat-option>
          <mat-option>Closed offers</mat-option>
        </mat-select>
    </mat-form-field>
    <br><br>
    <button>My Credits</button>
    <br>
    <button>My notifications</button>
    <br>
    <button>Closed request</button>
</div> -->

