.dashboard {
    color: white;
}

mat-form-field{
    background-color: white;
    height: 55px;
}

mat-option{
    position: relative;
}

.mat-select-panel-wrap {
    color: red;
    position: absolute;
    left: 10%;
}