.loginPage {
    height: 100%;
    text-align: center;
    padding: 5%;
    padding: 0;
}
.loginPage a{color:#07090e;}
form {
    padding-top: 5%;
}
.input-container{text-align: left;margin-bottom: 5%;}
.input-container input{color:#07090e;}
label{
    color: #000;
    margin-bottom: 2px;
    font-size: 1.2rem;
    font-weight: 700;
}
