.col .flex .input-container {
    margin-right: 4%;
    margin-top: 1%;
    width:29%;
  }
  .col .flex .input-container input {
    transition: all 0.31s ease;
    border-radius: 4px;
    padding: 6px 2px;
    display: block;
    min-width: 350px;
    border: unset;
    font-size: 1.4rem;
    box-shadow: 0px 0px 0.5px 0.5px #54708c;
  }
  .col .flex .input-container input:focus {
    box-shadow: 0px 2px 0.2px 0px #1d8bf0;
  }
  .col .flex .input-container label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  input[type="file"] {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  .cube-left canvas{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    top: 0;
  }
  
  @media screen and (max-width: 1400px) {
    .col .flex .input-container input {
      min-width: unset;
    }
  }