.lastAuction {
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin: 5% auto;
    width: 1000px;
    height: 600px;
    animation: fadeIn 6s linear ;
  }
  
.top {
    z-index: 2;
  }
  .top h4 {
    margin-top: 0.7%;
  }
  .lastAuction img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  .my-bid {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0 auto 0 0;
    z-index: 2;
  }
  .my-bid  span {
    font-size: 1.6rem;
  }
  .my-bid  i{color:green;font-size: 1.4rem;}
  .my-bid  small{font-size: 1.4rem;}
  .my-bid h4 {
    margin: 1% 0;
    z-index: 2;
  }
  .my-bid .inline-block.fadding-white.mr-l{
    padding: 2px;
  }
  .my-bid  b {
    color: #000;
    font-size: 2rem;
    direction: rtl;
    background-color: rgba(256, 255, 255, 1);
  }
  .datesDiv {
    position: absolute;
    width: 90%;
    bottom: 4%;
    left: 5%;
    font-weight: bold;
  }
  .datesDiv > p {
    width: 40%;
  }
  .datesDiv > p b {
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.38);
    margin-left: 2%;
    color: #000;
    padding: 1% 2%;
  }
  .datesDiv > p> span{
    font-size: 1.5rem;
  }
  .sold-auction{
    position: absolute;
    left: 0;
    right: 0%;
    top: 100%;
    perspective: 400px;
    perspective-origin: center;
    -webkit-perspective: 400px;
    -webkit-perspective-origin: center;
  }
.sold-auction h2{
    font-size: 6rem;
    opacity: .4;
    transform: rotateZ(-17deg);
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid;
    box-shadow: 0px 2px 0px -1px;

}
  @media only screen and (max-width: 1245px) {
    .lastAuction {
      width: 100%;
      padding: 0px;
    }
  }
  @media only screen and (max-width: 880px) {
    .lastAuction {
      height: auto;
    }
    .lastAuction img {
      height: auto;
      position: static;
    }
    .top{
        position: absolute;
        width: 80%;
        top: 5%;
        right: 10%;
    }
    .my-bid {
        padding: 2% 0px;
        position: absolute;
        top: 11%;
        left: 10%;
        width: 40%;
      }
      .my-bid h4 {
        margin-bottom: 5%;
      }
      .datesDiv {
        display: flex;
        bottom: 37%;
        left: 5%;
        justify-content: space-between;
      }
      .datesDiv p,
      .datesDiv p b {
        font-size: 1rem;
      }
      .firstSection .secondHeader h2 {
        font-size: 4rem;
        position: static;
      }
}
@media only screen and (max-width: 450px) {
    .my-bid {position: static; color:#fff; width: 100%;}
    .datesDiv {color:#fff;}
}