<header class="sticky" [class]="{show:showMobile}">
    <div (click)="menuToggle()" class="phone_menu">
        <span class="sep"></span>
        <span class="sep"></span>
        <span class="sep"></span>
    </div>
    <div class="user" title="login" *ngIf="isLogin"><span
            class="person-icon"></span></div>
    <div class="btn" *ngIf="!isLogin" (click)="login()" title="log in">
        <i class="log-in"></i>
    </div>
    <div class="search" *ngIf="isLogin"><a class="search-icon"></a></div>
    <div class="languages">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="place-bid"><button type="button" (click)="placeBid()">Place A Bid</button></div>
</header>