<header class="sticky" [class]="{show:showMobile}">
    <div (click)="menuToggle()" class="phone_menu">
        <span class="sep"></span>
        <span class="sep"></span>
        <span class="sep"></span>
    </div>
    <div class="user" title="login" *ngIf="!accountService.isUserLoggedIn()" (click)="login()"><span
            class="person-icon"></span></div>
    <div class="search hide"><a class="search-icon"></a></div>
    <div class="languages">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="place-bid"><button type="button" click="palceBid()">Place Bid</button></div>
</header>