<div *ngIf="auction" class="auctionPage">
    <div class="mainContent center">
        <h1 *ngIf="!auction.status">Closed Auction</h1>
        <h1 *ngIf="auction.status">Live Auction</h1>
        <h2>Place your bid and get a chance to win in one of our cars</h2>
        <div class="bg">
            <div class="auction relative" [style.backgroundImage]="'url('+auction.imageFileName+')'">
                <h4 class="both"><span class="left">{{auction.name}}</span><span
                        class="right">{{auction.description}}</span></h4>

                <p *ngIf="auction.status" class="valueAuction"><span><b>Price</b></span>: <span>{{price |
                        currency}}</span> </p>
            </div>
            <div class="flex padding-top space">
                <div class="placeBid" *ngIf="auction.status">

                    <label> Offer cost: </label>
                    <input type="text" data-type="currency" required pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                        (change)="setAmount($event)" [value]="bid.offer || 0">
                    <div class="overflow relative">
                        <aside class="right plus " (click)="addBid()"></aside>
                        <button type="button" (click)="addBid()"> Place my bid </button>
                    </div>
                </div>
                <div class="remaining-offers">
                    <h3><span>Remaining Offers</span></h3>
                    <h3><i>{{auction.totalBids - auction.bidsCount}}</i></h3>
                </div>
            </div>


        </div>

        <div class="liveInfo">
        <div class="productVideo">
                <div class="flex">
                    <div class="cube half line">
                        <div class="flex">
                            <div class=" full-half">
                                <h3>Sale Fore</h3>
                                <div class="cube-body">
                                    <div class="maxOffers">
                                        <p>0.01 $</p>
                                    </div>
                                    </div>
                                    </div>
                                    <div class=" full-half">
                                        <h3>Value</h3>
                                        <div class="cube-body">
                                            <div class="maxBid">
                                                <p>30000 $</p>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="cube half">
                        <h3>Description</h3>
                        <div class="cube-body">
                            <p>{{auction.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-global-loader></app-global-loader>