<div class="error-top" *ngIf="errorMessgae">{{ errorMessgae }}</div>
<header>
  <nav class="navbar">
    <aside class="logo cursor" (click)="setModel(1)"></aside>
    <aside [title]="title" class="user">
      <div
        class="round"
        style="background-image:url({{userImage}})"
      ></div>
      <span>{{ title }}</span>
    </aside>

    <aside class="mr-r relative" [ngClass]="{'show': modelNum == 1}" (click)="setModel(1)">
      <i class="user-icon" ></i>
<div class="bubble">Profile</div>
    </aside>
    <aside class="mr-r relative" (click)="setModel(7)" [ngClass]="{'show': modelNum == 7}">
      <i class="message-icon"></i>

<div class="bubble">Messages</div>

    </aside>
    <aside class="mr-r relative" (click)="setModel(4)" [ngClass]="{'show': modelNum == 4}" >
      <i class="earth-icon" ></i>
<div class="bubble">Global Setting</div>
    </aside>
    <aside class="mr-r relative" (click)="setModel(5)" [ngClass]="{'show': modelNum == 5}">
      <i class="bid-icon"></i>
<div class="bubble">Auctions</div>
    </aside>
    <aside class="mr-r relative" (click)="setModel(2)" [ngClass]="{'show': modelNum == 2}">
      <i class="users-icon"></i>
<div class="bubble">Setting</div>
    </aside>
    <aside class="mr-r relative" (click)="setModel(3)" [ngClass]="{'show': modelNum == 3}">
      <i class="form-icon"></i>
<div class="bubble">Statistics 
</div>
    </aside>
    <aside class="mr-r relative" (click)="setModel(6)" [ngClass]="{'show': modelNum == 6}">
      <i class="config-icon"></i>
       <div class="bubble">CMS</div>
    </aside>
    <aside class="mr-l" (click)="logout()">
      <i class="fa logout-icon"></i>

    </aside>
  </nav>
</header>
<section class="container">
  <div [ngSwitch]="modelNum">
    <div *ngSwitchCase="3">
      <app-user-panel></app-user-panel>
    </div>
    <div *ngSwitchCase="2">
      <app-admin></app-admin>
    </div>
    <div *ngSwitchCase="1">
      <app-my-account></app-my-account>
    </div>
    <div *ngSwitchCase="4">
      <app-global-settings></app-global-settings>
    </div>
    <div *ngSwitchCase="5" >
      <app-auctions></app-auctions>
    </div>
    <div *ngSwitchCase="6">
      <app-cms></app-cms>
    </div>
    <div *ngSwitchCase="7">
     <app-notifications></app-notifications>
    </div>
    <div *ngSwitchDefault>no Access</div>
  </div>
</section>
<app-dialog></app-dialog>
<app-admin-loader></app-admin-loader>
