<div class="container">
    <div class="row flex">
        <div class="cube mr-r">
            <h3>Users From Country</h3>
            <canvas #pieCanvas id="pieCanvas"></canvas>
        </div>
        <div class="cube mr-r">
            <h3>New/ Total offers</h3>
            <canvas #pieBidsCanvas id="pieBidsCanvas"></canvas>
        </div>
        <div class="cube">
            <h3>Auction Active/ closed</h3>
            <canvas #pieAuctionsCanvas id="pieAuctionsCanvas"></canvas>
        </div>
    </div>
</div>
