<img class="loader" *ngIf="!auction" src="/assets/images/loader.gif" alt="">
<div *ngIf="auction" class="auctionPage">
    <div class="bg">
        <div  class="auction" style="background-image: url({{BaseUrl}}uploads/{{auction.imageFileName}});">
            <p>{{ auction.name }}</p>
            <hr>
            <p>Status: {{ auction.status ? 'Open' : 'Closed'}}</p>
        </div>
        <br><br>
        <div class="placeBid" *ngIf="auction.status">
            
            <label style="color: white; font-size: 20px;">My bid: </label> 
            <input type="text" 
            data-type="currency"
            required
            pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
            (change)="setAmount($event.target.value)"
            placeholder="0.01$">
            <br><br>
            <button mat-raised-button (click)="addBid()"> Place my bid </button>

        </div>
        <div class="bids" *ngIf="!auction.status">

            <button mat-raised-button (click)="showBids()">Show the bids</button>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <!-- <div *ngFor="let b of bids; let i = index">
                <p>{{b.offer}}</p>
            </div> -->
        </div>
    </div>
</div>    