<div class="insert">

<form action="" #formInfo="ngForm" [formGroup]="newAuction">

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input 
        matInput 
        formControlName="nameControl"
        type="text" 
        name="name"
        minlength="4"
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price of product</mat-label>
        <input 
        matInput 
        formControlName="priceControl"
        type="text" 
        name="price"
        required>
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input 
        matInput 
        type="text" 
        name="description"
        formControlName="descriptionControl"
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input 
        matInput 
        type="datetime-local"
        name="startDate"
        formControlName="startDateControl"
        required>
    </mat-form-field>
    
    <p></p>

    <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input 
        matInput 
        type="datetime-local"
        name="endDate" 
        formControlName="endDateControl"
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Bid Price</mat-label>
        <input 
        matInput 
        type="text" 
        name="bidPrice" 
        formControlName="bidPriceControl"
        required>
    </mat-form-field>
    
    <p></p>

    <mat-form-field appearance="fill">
        <mat-label>Min Offer</mat-label>
        <input 
        matInput 
        type="number"
        name="minOffer" 
        formControlName="minOfferControl"
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Max Offer</mat-label>
        <input 
        matInput 
        type="number" 
        name="maxOffer" 
        formControlName="maxOfferControl"
        >
    </mat-form-field>

    <p></p>
    <mat-label>Upload Image</mat-label>
    <p></p>
    <input type="file" formControlName="imageInputControl" (change)="onFileSelected($event)" />

    <p></p>
    <br>
    <button  mat-raised-button (click)="addAuction()">Add Auction</button>

</form>

</div>