 .insertPage {
    height: 100%;
    text-align: center;
    padding: 5%;
    padding: 0;
    background-color: #d4f1f4;
    width: 90%;
    padding-left: 10%;
  }
  .insertPage a,
  .insertPage h2 {
    color: #07090e;
    text-decoration: underline;
    margin: 0 0 6% 0;
    padding: 3% 0px 0%;
  }
  .insertPage button {
    background-color: #fff;
  }
  /* form {
    width: 80%;
  } */
  .inputs {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .inputs div {
    width: 48%;
  }
  .item {
    position: relative;
  }
  input {
    width: calc(100% - 10px);
      padding: 5px;
  }
  /*
  .input{
    border: 1px solid black ;
    display: inline-block;
    width: 50%;
  }
  .insertForm {
    display: inline-table;
    border: 1px solid black;
    height: 100vh;
  }
  
  .input-container {
    text-align: left;
    margin-bottom: 5%;
  }
  .wrap-auction input {
    color: #07090e;
    border: none;
    margin: 0;
  }
  .wrap-auction input:focus,
  .wrap-auction input:active,
  .wrap-auction input:link {
    outline: 0;
    box-shadow: none;
  }
  .wrap-auction {
    display: inline-block;
    border: 1px solid black;
    width: 50%;
    height: 40px;
    padding: 2px 0;
    align-items: center;
    justify-content: flex-start;
    overflow:visible;
    margin: 2px;
  }
  .wrap-auction label {
    color: black;
    flex-grow: 1;
    font-weight: 900;
    margin-left: 3%;
  }
  @media only screen and (max-width: 880px) {
    .input-container {
      transform: scaleX(1.2);
    }
  }
   */