<div class="container">
    <h1>About Us</h1>
 <div class="flex ">
     <div class="images">
         <div class="car"></div>
        <div class="three">
            <div class="s-circle"></div>
            <div class="circle"></div>
            <div class="s-circle"></div>
        </div>
         <div class="brain"></div>
         <div class="three">
             <div class="s-circle"></div>
             <div class="circle"></div>
             <div class="s-circle"></div>
         </div>
        <div class="trufi"></div>
     </div>
     <div class="content">
        <p>
            Our company has been made in order tolet everyone get an easy chance with Lady luck. 
            We are here for those who dream about a uniquecar that gets looked at everywhere, or those that desireestablishing a house to raise their kids withoutthe insane amount you'll usually pay for one
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            With our exemplary tech team,we have developed a unique platform, fully automated,unbreachable and fair for all in the shape of a reverse auction
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            Although being lucky might be very helpful,our game makes people think
            since our software chooses the lowest and most uniquenumber biddenand automatic mails, sms messages etc.sent to the bidder throughout an auction,one might bid several times knowing before the endof an auction if he is the intended winner
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            Unlike lottery tickets, we give a morereasonable chance than 1 in a few millions to win
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            In our game we also make the lowest amount of bidderspossible for us, frankly speaking, so we can give theclients as many chances as possible for winning
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            ???OUR CREDEBILITY!???
        </p>
        <p>
            Each prize winner will be photographed, and we will makea small video while you take the car homeAll videos and photos will be posted on our website
        </p>
        <br/>
        <br/>
        <h4>
            HAPPY BIDDING!
            <br/>
            Team LPA
        </h4>
       
        
     </div>
 </div>
</div>