<app-header></app-header>
<div>
  <div class="flex ">
    <nav>
      <div class="wrap flex-col fixed">
        <div class="logo" (click)="moveToHome()"></div>
        <ul>
          <li><a routerLink="/live" > Live auctions </a></li>
          <li><a routerLink="/rules" > Auction rules </a></li>
          <li><a routerLink="/closed" > Closed auction </a></li>
          <li><a routerLink="/locations" > Locations </a></li>
          <li><a routerLink="/how-its-work" > How it works </a></li>
          <li><a routerLink="/about" > About us </a></li>
          <li><a routerLink="/contact" > Contact us </a></li>
        </ul>
      </div>
        

    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <div>
      <a href="#">Privacy policy</a> &nbsp;
      <a href="#">Terms & Conditions</a> &nbsp;
      <a href="#">Cookies policy</a>
    </div>
  </footer>
</div>