.top-margin{margin-top: 50px;}
nav {
    position: relative;
  }
  nav .wrap{
    top: 20%;
    text-align: center;
    width: 15%;
    z-index: 1;
  }
  nav .wrap:after{
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      top:0%;
      right:0px;
      background-color: aliceblue;
  }
  nav ul{width: 100%;}
  nav ul li {
    text-align: center;
    padding: 2%;
    margin: 14% 0;
  }
  nav ul li a{
      display: block;
      width: 100%;
      height: 100%;
  }
  main{
    
  }
@media (max-device-width: 959px) {
    /* .links {
        display: none;
    }
    .homeImg{
        display: none;
    } */
}
mat-toolbar{
    background: #0E1119;
    color: white;
}

mat-sidenav-content > div {
    overflow: hidden;
}

.container{
    width: 100%;
    background: #0E1119;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 8% 93% 3%;
    grid-template-columns: repeat(12, 1fr);

}

.homeImg {
    position: relative;
    width: 57px;
    height: 53px;
}

header {
    position: sticky;
}

 footer { 
    text-align: center;
    grid-column: span 12;
    color: white;
}

mat-sidenav-container{
    background: #0E1119;
    grid-column: span 12;
}

mat-sidenav {
    background: #0E1119 ;
}
mat-sidenav-content > div{
    margin-top: 10px;
    overflow-y: visible;
    overflow-x: hidden; 
}
.mat-nav-list > a {
    color: white;
}


p {
    margin: 0%;
}

footer {
    text-align: center;
    background: #0E1119;
}

footer > div > a {
    color: white;
}
