<div class="lastAuction relative" [ngStyle]="{'background-image': 'url('+auction?.imageFileName+')'}">
    <!-- <img [hidden]="!auction" id="img" #img [class]="{ fadein: auction }" [src]="auction?.imageFileName" [alt]="auction?.name" /> -->
    <div class="top both relative">
        <h2 class="left">{{ auction?.name }}</h2>
        <h4 class="right">{{ auction?.description }}</h4>
  </div>

  <div [ngSwitch]="auction?.status">
    <div *ngSwitchCase="true" class="my-bid relative">
      <div>
        <h4 class="inline-block"><span>Remaining offers </span></h4>
        <div *ngIf="homeFlag" class="inline-block fadding-white mr-l">
        <small>{{ auction?.totalBids }}</small><span>/</span><i>{{ auction?.bidsCount}}</i>
        </div>
        <div *ngIf="!homeFlag" class="inline-block fadding-white mr-l">
        <i>{{ auction?.totalBids - auction?.bidsCount }}</i>
        </div>
      </div>
    <button class="auctionBtn" (click)="showAuction(auction._id)">
        {{ placeBisText }}
    </button>
    </div>
    <div *ngSwitchCase="true" class="datesDiv relative">
        <p>
            <span>Offer price:</span><b>{{ auction?.bidPrice | currency }}</b>
        </p>
    </div>
    <div *ngSwitchDefault>
      <div class="my-bid relative">
        <div class="sold-auction">
          <h2>closed</h2>
        </div>
        <div>
          <h4 class="inline-block"><span>Closed on </span></h4>
          <div class="inline-block fadding-white mr-l">
            <i>{{ auction?.endDate | date: "dd/MM/yyyy" }}</i>
          </div>
        </div>
        <button class="auctionBtn" (click)="showAuction(auction._id)">
            Show details
        </button>
    </div>
    <div class="datesDiv relative">
        <p class="right">
        <span>Winning price :</span><b>{{ auction?.bidPrice | currency }}</b>
        </p>
      </div>
    </div>
</div>
</div>