<app-header></app-header>
<div>
    <div class="flex ">
        <nav [class]="menuColor">
            <div class="wrap flex-col fixed" [class]="{show:showMenu}">
                <div class="logo" (click)="moveToHome()"></div>
                <ul>
                    <li><a routerLink="/live"> Live auctions </a></li>
                    <li><a routerLink="/closed"> Closed auctions </a></li>
                     <li *ngIf="accountService.isLogin"><a routerLink="/info"  > User info </a></li>
                    <li><a routerLink="/page/Terms" > Terms & Conditions </a></li>
                    <li><a routerLink="/page/HowItWorks"> How LPA works </a></li>
                    <li><a routerLink="/about" > About us </a></li>
                    <li><a routerLink="/contact"> Contact us </a></li>
                </ul>
            </div>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer>
        <div class="mainContent center">
            <a routerLink="/page/policy">Privacy policy</a> &nbsp;
            <a routerLink="/page/Terms">Terms & Conditions</a> &nbsp;
            <a href="#">Cookies policy</a>
        </div>
    </footer>
    <app-dialog></app-dialog>

</div>